/* COLOR NAME */
/* h1{
    color: brown;
} */

/* HEX CODE */
 /* h1{
    color: #ffe92d ;
} */

 /*h1{
    color: #333ba6;
} */

/* RGB */
 /*h1{
    color: rgb(95,85,90);
} */

 /*h1{
    color: rgb(225, 109, 102);
} */

/* BACKGROUND COLOR */
 /*body{
    background-color: wheat;
}*/

 /*body{
    background: #bcb0d4;
}*/

/*body{
    background-color:rgb(161, 135, 141)
}*/


 /*h1{
    color: red;
}*/

/*div{
    color:orange;
}*/

/* OPASITY */
/*#div1{
    background-color: darkcyan;
    opacity: 0.9;
}*/

/*img{
    opacity: 0.6;
}*/